*{margin: 0px;}
@font-face{
    font-family: floyd;
    src: url(../fonts/floyd.TTF);}
@font-face{
    font-family: nunito;
    src: url(../fonts/nunito.ttf);}
html{
    scroll-behavior: smooth;  
    background-color: black;}
body{
    margin: 0%;
    padding: 0%;
    color: white;
    font-family: floyd;}
::-webkit-scrollbar{width: 1vw;}
::-webkit-scrollbar-track {box-shadow: inset 0 0 15px black; }
::-webkit-scrollbar-thumb {background: rgb(240, 22, 111);}
::-webkit-scrollbar-thumb:hover{background: rgb(206, 19, 94);}
#intro{
    width: 100%;
    height: 100vh; 
    background-image: url("../images/intro.jpg");
    background-size: cover;
    background-position: center;
    font-family: floyd;}
#welcome_paragraph{
    position: relative;
    top: 15%;
    font-size: 15vmin;
    text-align: center;}
#meet_us_button{
    position: relative;
    top: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../images/clipart.png");
    background-size: 120%;
    background-position: center;
    border: 0.5vw solid grey;
    border-radius: 20%;
    transition: all 0.5s;
    transition-timing-function: ease;}
#meet_us_button a{
    color: black;
    font-family: floyd;
    font-size: 8vmin;
    font-weight: bolder;
    text-decoration: none; }
#navbar{
    position: sticky;
    top: 0%;
    width: 100%;
    background: linear-gradient(180deg, rgba(35,35,35,1) 15%, rgba(15,15,15,1) 65%, rgba(0,0,0,0.8) 100%);
    font-family: floyd;
    z-index: 1;}
#menu_icon{display: none;}
#navbar_content{
    display: flex;
    justify-content: stretch;}
#navbar a{
    width: 100%;
    color: white;
    text-decoration: none;
    font-size: 3.4vw;
    text-align: center;
    line-height: 2.5vw;
    padding-top: 2vw;
    padding-bottom: 0.5vw;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    transition: all 0.2s;}
#navbar :first-child{
    padding-top: 0.5vw;
    padding-bottom: 2vw;}
#navbar a:hover, #meet_us_button:hover{transform: translateY(1vw);}
#members{
    background-color: black;}
.headspan{
    display: block;
    font-family: floyd;
    font-size: 8vw;
    padding-left: 2.5%;
    padding-top: 7vw;}
#member_list{
    display: inline-block;
    font-size: 3vw;
    padding-left: 2%;
    margin-left: 5%;
    margin-bottom: 5%;
    list-style-type: none;}
#member_list li img{
    position: relative;
    top: 0.4em;
    height: 5vw;}
#group_picture{
    display: inline-block;
    width: 54vw;
    position: relative;
    top: 5vw;
    margin-bottom: 5%;}
#band_story{
    padding-bottom: 5vw;
    background-color: black;}
#story{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 0%;
    font-size: 2.3vw;
    font-family: nunito;}
#story_heading{
    font-size: 4vw;
    color: rgb(240, 22, 111);
    font-weight: bolder;
    font-family: floyd;}
#albums{
    padding-bottom: 5vw;
    background-image: url('../images/clipart.png');
    background-size: 50%;
    background-position: center;}
#album_headspan{background: linear-gradient(180deg, rgba(0,0,0,1) 87%, rgba(255,255,255,0.5) 100%);}
.covers_grid_desktop{
    display: grid;
    grid-template-columns: auto auto auto auto auto;}
.covers_grid_mobile{display: none;}
.covers_grid_desktop > .album_cover{
    position: relative;
    top: 2vw;
    height: 15vw;
    border-radius: 2vw;
    transition: all 0.5s;}
.covers_grid_desktop > .album_cover:nth-child(1), 
.covers_grid_desktop > .album_cover:nth-child(7), 
.covers_grid_desktop > .album_cover:nth-child(13){
    margin-left: 5vw;}
.album_cover:hover{transform: scale(1.2);}
.shelf{
    width: 100%;
    height: 16vw;
    grid-column-start: 1;
    grid-column-end: 6;}
#concerts_headspan{background: linear-gradient(0deg, rgba(0,0,0,1) 87%, rgba(255,255,255,0.5) 100%);}
#concerts_text{
    margin: 5%;
    font-size: 2.3vw;
    font-family: nunito;}
#concert_img{
    float: right;
    margin-left: 2%;
    height: 25vw;
    border-radius: 2vw;}
#concert_tour_table{
    float: right;
    width: 60%;
    margin-right: 2%;
    font-family: nunito;
    font-size: 1.2vw;
    text-align: center;}
#concert_tour_table tr{transition: all 0.2s ease;}
#concert_tour_table tr:hover{transform: scale(1.06);color: rgb(240, 22, 111);}
#concert_tour_table_caption{font-size: 2vw;}
#yt_content{
    float: left;
    margin-left: 2%;
    width: 35%;
    height: 35vw;
    border-radius: 20px;}
#social{clear: both; margin-top: 5vh;padding-bottom:1vh;}
#social_span{
    font-family: nunito;
    font-size: 1.7vw;
    margin-left: 2%;}
#social_icons_box{
    display: flex;
    justify-content: flex-end;
    margin-right: 2vw;}
.social_icons{
    cursor: pointer;
    width: 5vmax;
    border-radius: 15%;
    transition: all 0.1s ease;}
.social_icons:hover{
    transform: translateY(-1vw);background-color: rgb(240, 22, 111);}

@media only screen and (max-width: 512px)
{
    body{/*border:2px solid red;*/}
    #menu_icon{
        cursor: pointer;
        display: block;
        float: right;
        margin-right: 1%;
        width: 7vmax;
    }
    #navbar_content{
        position: absolute;
        top: 7vmax;
        right: 5%;
        display: none;
        z-index: 1;
    }
    #navbar_content a{
        background-color: black;
        margin-top: 2%;
        border-radius: 2vw;
        padding: 5%;
        display: block;
        font-size: 2.5vmax;
        line-height: initial;
    }
    #navbar:hover #navbar_content{display: block;}
    #navbar a:hover{transform: translateX(-1vw);}
    #members, #band_story, #albums, #concerts,#album_headspan, #concerts_headspan
    {
        padding-top: 0;
    }
    .headspan{
        padding-top: 0%;
        text-align: center;
        font-size: 8vw;
    }
    #member_list{
        display: block;
        width: fit-content;
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;
        font-size: 6vw;
        padding: 0px;
    }
    #member_list li img{height: 7vw;}
    #group_picture{
        display: block;
        margin: 5%;
        width: 90%;
        top: 0px;
    }
    #story_heading{font-size: 4.5vw;}
    #story{font-size: 3.5vmin;}
    .covers_grid_desktop{display: none;}
    .covers_grid_mobile{
        display: grid;
        grid-template-columns: auto auto auto;
    }
    .covers_grid_mobile > .album_cover{
        position: relative;
        top: 2vw;
        width: 22.5vw;
        border-radius: 2vw;
        transition: all 0.5s;
    }
    .covers_grid_mobile > .album_cover:nth-child(1), 
    .covers_grid_mobile > .album_cover:nth-child(5), 
    .covers_grid_mobile > .album_cover:nth-child(9),
    .covers_grid_mobile > .album_cover:nth-child(13),
    .covers_grid_mobile > .album_cover:nth-child(17){
        margin-left: 10.5vw;
    }
    .shelf{
        grid-column-start: 1;
        grid-column-end: 4;
    }
    #concerts_text{
        font-size: 3.5vmin;
    }
    #concerts_text::after{
        margin-top: 5%;
        background-image: url(../images/thewall1990concert.jpg);
        background-size: cover;
        display: inline-block;
        float: none;
        height: 50vw;
        width: 100%;
        content:"";
        border-radius: 20px;
    }
    #concert_img{display: none;}
    #concert_tour_table{
        float: none;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        font-size: 2.7vmin;
    }
    #yt_content{
        float: none;
        margin-left: 5%;
        width: 90%;
        height: 55vw;
        border: none;
    }

}


/*  ANIMATIONS  -----------------------------------------------------------------------------*/
.animate-fading{animation:fading 1.25s}
@keyframes fading{0%{opacity:0}100%{opacity:1}}